zdiv {
    outline: 1px solid black;
    }

body {
    margin: 0;
}

 #container {
    width: 960px;
    margin: auto;
}

 #header {
    height: 600px;
    background-color: #f1ece9;
    color: white;
    padding-top: 100px;
    background-image: url(images/leaves.png);
     background-size: cover;
}

#hey{
    background-color: #ddd9d8;
    width: 400px;
    height: 160px;
    font-size: 150px;
    font-family: 'Josefin Sans', sans-serif;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}

#NameAimee {
    background-color: bad3cc;
    width: 400px;
    height: 50px;
    margin-left: 200px;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
}

#Where {
    background-color: bad3cc;
    width: 400px;
    height: 50px;
    margin-left: 20px;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
}

#darkpinkbox{
    background-color: #e6baad;
    height: 200px;
    width: 600px;
    font-size: 18px;
    margin-left: 60px;
    font-family: 'Josefin Sans', sans-serif;
    
}

#Mywork {
    background-color: bad3cc;
    width: 400px;
    height: 50px;
    margin-left: 120px;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
}

#header img{
    width:100%
}

#blue img {
    width: 50%
}


#f5c9bc img {
    width: 100%;
}

#darkbluebox {
    background-color: #acc4bd;
    height: 200px;
    width: 600px;
    font-size: 18px;
    margin-left: 300px;
    font-family: 'Josefin Sans', sans-serif;
}

#darkgreybox {
    background-color: #ddd9d8;
    height: 80px;
    width: 700px;
    font-size: 18px;
    margin-left: 20px;
    font-family: 'Josefin Sans', sans-serif;
}


#f1ece92 .container {
    display: grid;
    grid-template-columns: auto 400px;
}

#f1ece92 img {
    width: 100%;
}

#f1ece92 .left {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#pics {
    grid-column: 1/3;
    grid-row: 1/3;
}

#f1ece92 .right {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#f1ece92 .bottom_row img {
    width: 140px;
    padding: 10px 5px;
}

.links {
    margin-top: 200px;
    font-size: 1.7rem;
    text-align: center;
    color: #8f8e8d;
    font-family: 'Josefin Sans', sans-serif;
}

.links a{
    color: white;
    text-decoration:none;
    padding: 0 10px;
}

 #bad3cc {
    height: 753px;
    background-color: #bad3cc;
    background-image: url(images/girl.jpg);
    background-size: cover;
}

 #f5c9bc {
        height: 300px;
        background-color: #f5c9bc;
      background-image: url(images/map_lines.png);
      background-size: cover;
}

 #f1ece92 {
        height: 1200px;
        background-color: #f1ece9;
}

 .blueyellow1 {
        height: 80px;
        grid-column: 1/5;
    }

 #a2b3b7 {
        height: 300px;
        background-color: #a2b3b7;
}

#contact {
    background-color: bad3cc;
    width: 400px;
    height: 50px;
    margin-left: 20px;
    font-size: 25px;
    font-family: 'Lilita One', cursive;
}

#darkgreenbox {
    background-color: #ddd9d8;
    height: 80px;
    width: 700px;
    font-size: 18px;
    margin-left: 20px;
    font-family: 'Josefin Sans', sans-serif;
}
