div {
    outline: 1px solid black;
    }
 #container {
    width: 1366px;
    margin: auto;
}
 #f1ece9 {
    height: 785px;
    background-color: #f1ece9;
}

.links {
    margin-top: 10px;
    font-size: 1.5rem;
    text-align: center
    color: #8f8e8d;
}

.links a{
    color: white;
    text-decoration:none;
    padding: 0 10px;
}

 #bad3cc {
    height: 753px;
    background-color: #bad3cc;
}

#blue {
    height: 300px;
    background-color: #acc4bd;
    display: grid;
    grid-template-columns: 30% 70%;
}

 #f5c9bc {
        height: 767px;
        background-color: #f5c9bc;
}

 #f1ece92 {
        height: 1681px;
        background-color: #f1ece9;
}

 .blueyellow1 {
        height: 80px;
        grid-column: 1/5;
    }

 #a2b3b7 {
        height: 625px;
        background-color: #a2b3b7;
}
